body {
  font-family: 'Archivo';
  font-size: 24px;
  line-height: 1.5;

  background-color: #ffffffff;
  color: #0005ffff;
  margin: 40px auto 40px auto;
  width: 1120px;
}

h1 {
  font-size: 24px;
  font-weight: 500;
}

h2 {
  color: rgba(0, 0, 0, 1);
  font-size: 21px;
  font-weight: 500;
}

a {
  text-decoration: none;
  font-weight: 500;
  font-style: italic;
}

a:visited {
  color: #0005ffff;
}

a:hover {
  font-style: normal;
}

a.nav {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  font-weight: 300;
  font-style: normal;
}

a.nav:hover {
  font-style: italic;
}
