body {
  font-family: 'Archivo';
  font-size: 24px;
  line-height: 1.2;

  background-color: #0f0f0fff;
  color: #ffffffff;
  margin: auto 40px auto auto;
}

h1 {
  font-size: 80px;
  font-weight: 400;
  margin-left: 20px;
}

h2 {
  color: rgba(0, 0, 0, 1);
  font-size: 21px;
  font-weight: 400;
  margin-left: 20px;
}


a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-weight: 400;
  }



a:hover {
  font-style: italic;
}

a.nav {
  color: rgba(18, 196, 185, 1);
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
}

a.nav:hover {
  font-style: italic;
}
